

.signup-container {
    img {
        height: 3rem;
        width: 3rem;
    }
    
    h3 {
        margin: 0;
    }
    
    .card {
        background: #F0F0F0;
        box-shadow: 0 5px 5px lightgrey;
    }

    .invalid-feedback div {
        display: none;
    }

    .invalid-feedback div:first-child {
        display: block;
    }
}