<div class="signup-container">
    <div class="mt-3 d-flex justify-content-center align-items-center">
        <img src="../../../assets/logo.svg" />
        <h3 class="px-3"> BANK</h3>
    </div>
    
    <div class="mt-3 d-flex justify-content-center align-items-center">
        <div class="px-2 py-2 mx-5 card text-left" style="width: 30.25rem;">
            <h4 class="text-center"><b>Sign Up</b></h4>
            <div class="card-body">
                <form>
                <form [formGroup]="signupForm" (ngSubmit)="onNext()">
                    <div *ngIf="step==1">
                        <h5>User Details</h5>
                    <div class="form-group">
                        <label for="firstname"><small>Firstname</small></label>
                        <input type="text" placeholder="Enter FirstName" class="form-control" id="firstname" formControlName="firstName"
                            [ngClass]="{ 'is-invalid': (formControls['firstName'].touched || formControls['firstName'].dirty) && formControls['firstName'].errors }">
    
                        <div *ngIf="formControls['firstName'].errors" class="invalid-feedback">
                            <div *ngIf="formControls['firstName'].errors['required']">FirstName is required</div>
                            <div *ngIf="formControls['firstName'].errors['pattern']">Firstletter must be capital letter </div>
                        </div>
    
                    </div>
    
                    <div class="form-group">
                        <label for="lastname"><small>Lastname</small></label>
                        <input type="text" placeholder="Enter LastName"class="form-control" id="lastname" formControlName="lastName"
                            [ngClass]="{ 'is-invalid': (formControls['lastName'].touched || formControls['lastName'].dirty) && formControls['lastName'].errors }">
    
                        <div *ngIf="formControls['lastName'].errors" class="invalid-feedback">
                            <div *ngIf="formControls['lastName'].errors['required']">LastName is required</div>
                            <div *ngIf="formControls['lastName'].errors['pattern']">LastName must  start with a captail letter </div>
                        </div>
    
                    </div>
    
                    <div class="form-group">
                        <label for="mobileno"><small>Mobile</small></label>
                        <input type="text" placeholder="Enter Mobile" class="form-control" id="mobileno" formControlName="mobile"
                            [ngClass]="{ 'is-invalid': (formControls['mobile'].touched || formControls['mobile'].dirty) && formControls['mobile'].errors }">
                        <div *ngIf="formControls['mobile'].errors" class="invalid-feedback">
                            <div *ngIf="formControls['mobile'].errors['required']">MobileNumber is required</div>
                            <div *ngIf="formControls['mobile'].errors['pattern']">Only digits allowed</div>
                            <div *ngIf="formControls['mobile'].errors['minlength'] || formControls['mobile'].errors['maxlength']">MobileNumber must be of 10 digits</div>
                        </div>
    
                    </div>
    
                    <div class="form-group">
                        <label for="inputEmail4"><small>Email</small></label>
                        <input type="email" placeholder="Enter Email" class="form-control" id="inputEmail4" formControlName="email"
                            [ngClass]="{ 'is-invalid': (formControls['email'].touched || formControls['email'].dirty) && formControls['email'].errors }">
    
                        <div *ngIf="formControls['email'].errors" class="invalid-feedback">
                            <div *ngIf="formControls['email'].errors['required']">Email is required</div>
                            <div *ngIf="formControls['email'].errors['email']">Email must be a valid email</div>
                        </div>
    
                    </div>
    
                    <div class="form-group">
                        <label for="inputPassword4"><small>Password</small></label>
                        <input type="password" placeholder="Enter Password" class="form-control" id="inputPassword4" formControlName="password"
                            [ngClass]="{ 'is-invalid': (formControls['password'].touched || formControls['password'].dirty) && formControls['password'].errors }">
                        <div *ngIf="formControls['password'].errors" class="invalid-feedback">
                            <div *ngIf="formControls['password'].errors['required']">password is required</div>
                            <div *ngIf="formControls['password'].errors['pattern']">Password must have atleast one
                                uppercase, one loweer case leeter, one number and one speacial charcter</div>
                            <div *ngIf="formControls['password'].errors['minlength']">password should be minimum of 8 characters</div>
                            <div *ngIf="formControls['password'].errors['maxlength']">password should be maximum of 15 characters</div>
    
                        </div>
    
                    </div>
                    <br>
                    <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary mx-2" *ngIf="step==1">Next</button>
                    </div>
                    </div>
                    </form>
                    <form [formGroup]="securityQuestions" (ngSubmit)="onSubmit()">
                    <div *ngIf="step==2" >
                        <h5>Security Questions</h5>
                    <div class="form-group">
                        <label for="securityquestion1"><small>What is your Date of Birth?</small></label>
                        <input type="date" placeholder="DD-MM-YYYY" class="form-control" id="securityquestion1" formControlName="securityquestion1"
                            [ngClass]="{ 'is-invalid': (formcontrols['securityquestion1'].touched || formcontrols['securityquestion1'].dirty) && formcontrols['securityquestion1'].errors }">
    
                        <div *ngIf="formcontrols['securityquestion1'].errors" class="invalid-feedback">
                            <div *ngIf="formcontrols['securityquestion1'].errors['required']">This is a required feild</div>
                        </div>
    
                    </div>

                    <div class="form-group">
                        <label for="securityquestion2"><small>What is your Place of Birth?</small></label>
                        <input type="text" placeholder="Place of Birth" class="form-control" id="securityquestion2" formControlName="securityquestion2"
                            [ngClass]="{ 'is-invalid': (formcontrols['securityquestion2'].touched || formcontrols['securityquestion2'].dirty) && formcontrols['securityquestion2'].errors }">
    
                        <div *ngIf="formcontrols['securityquestion2'].errors" class="invalid-feedback">
                            <div *ngIf="formcontrols['securityquestion2'].errors['required']">This is a required feild</div>
                            <div *ngIf="formcontrols['securityquestion2'].errors['pattern']">Try to answer in one word</div>
                        </div>
    
                    </div>
                    </div>


                    <!-- <div class="form-group">
                        <label for="inputPassword4"><small>Take a Selfie</small></label>
                        <app-selfie-panel></app-selfie-panel>
                    </div> -->
                    <br>
                    <div class="form-group text-center">
                        <a class="btn btn-primary mx-2" *ngIf="step==2" (click)="onPrevious()">Previous</a>
                        
                        <button [disabled]="isSignIn" type="submit" class="btn btn-primary" *ngIf="step==2">
                            <span *ngIf="isSignIn" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            SIGN UP
                        </button>
                    </div>
                    </form>
                </form>
            </div>
        </div>
    </div>
</div>