<div class="mt-3 d-flex justify-content-center align-items-center">
    <img src="../../../assets/logo.svg" />
    <h3 class="px-3">Bank</h3>
</div>

<div class="mt-3 d-flex justify-content-center align-items-center">
    <div class="px-2 py-2 mx-5 card text-left" style="width: 20.25rem;">
        <h5 class="px-3 mt-3 card-title">Sign Up</h5>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label for="firstname"><small>Firstname</small></label>
                    <input type="text" class="form-control" id="firstname" >
                </div>
                <div class="form-group">
                    <label for="lastname"><small>Lastname</small></label>
                    <input type="text" class="form-control" id="lastbane" >
                </div>
                <div class="form-group">
                    <label for="mobileno"><small>Mobile</small></label>
                    <input type="text" class="form-control" id="mobileno" >
                </div>
                <div class="form-group">
                    <label for="inputEmail4"><small>Email</small></label>
                    <input type="email" class="form-control" id="inputEmail4">
                </div>
                <div class="form-group">
                    <label for="inputPassword4"><small>Password</small></label>
                        <input type="password" class="form-control" id="inputPassword4">
                </div>
                <!-- <div class="form-group">
                    <label for="inputPassword4"><small>Take a Selfie</small></label>
                    <app-selfie-panel></app-selfie-panel>
                </div> -->
                <br >
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary" routerLink="/login">Sign up</button>
                </div>
            </form>
        </div>
    </div>
</div>