<div class="header">

    <nav class="navbar navbar-expand-lg">
        <div class="p-3">
            <a routerLink="/home"><img class="logo" src="assets/logo-white.svg" alt="" width="65px" height="65px"></a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item  mx-4">
                    <a routerLink="/home" ><span>Home</span></a>
                </li>
                <li class="nav-item  mx-4">
                    <a routerLink="/profile" ><span>Profile</span></a>
                </li>
                <li class="nav-item mx-4">
                    <a routerLink="/transactions"><span>Transactions</span></a>
                </li>
                <li class="nav-item  mx-4">
                    <a routerLink="/transfer-funds"><span>Send Money</span></a>
                </li>
                <li class="nav-item  mx-4">
                    <a routerLink="/request-money"><span>Request Money</span></a>
                </li>
            </ul>
            <span class="ms-auto nav-item mx-5">
                <a href="" (click)="logout()">Logout</a>
            </span>
        </div>
    </nav>

</div>