<div>

    <!-- Body -->
    <div class="container">
        
        <div class="row">
            <div class="col-12">
                <div class="row d-flex justify-content-center">
                    <div class="col-4">
                        <div class="d-flex justify-content-center">
                            <span class="heading">Send Money</span>
                        </div>
                        <div class="card shadow rounded d-flex">
                            <div class="mx-4 my-4">
                                <form [formGroup]="transferFundsForm">
                                    <div class="row my-2">
                                        <div>
                                            <label for="account_number" class="text-secondary label-name">Account
                                                Number</label>
                                        </div>
                                        <img *ngIf="!transferAmountLoadStates.isSearchLoading"
                                            src="assets/search.svg" alt="search">
                                    </button>
                                </div>
                                <div
                                    *ngIf="transferFundsForm.get('account_number')?.invalid && (transferFundsForm.get('account_number')?.dirty || transferFundsForm.get('account_number')?.touched)">
                                    <span class="error-text m-0 p-0"
                                        *ngIf="transferFundsForm.get('account_number')?.errors?.['required']">
                                        Account Number is required.
                                    </span>
                                    <span class="error-text m-0 p-0"
                                        *ngIf="transferFundsForm.get('account_number')?.errors?.['minlength']">
                                        Account Number must be at least 6 characters long.
                                    </span>
                                </div>
                            </div>
                            <div class="row my-2">
                                <div>
                                    <label for="account_ifsc" class="text-secondary label-name">IFSC
                                        Code</label>
                                </div>
                                <div>
                                    <input class="col-12 p-2 dark-box" id="account_ifsc"
                                        formControlName="account_ifsc" readonly />
                                </div>
                            </div>
                            <div class="row my-2">
                                <div>
                                    <label for="account_name" class="text-secondary label-name">Name</label>
                                </div>
                                <div>
                                    <input class="col-12 p-2 dark-box" id="account_name"
                                        formControlName="account_name" readonly />
                                </div>
                            </div>
                            <div class="row my-2">
                                <div>
                                    <label for="amount" class="text-secondary label-name">Amount</label>
                                </div>
                                <div>
                                    <input class="col-12 p-2" id="amount" formControlName="amount" />
                                    <div
                                        *ngIf="transferFundsForm.get('amount')?.invalid && (transferFundsForm.get('amount')?.dirty || transferFundsForm.get('amount')?.touched)">
                                        <span class="error-text m-0 p-0"
                                            *ngIf="transferFundsForm.get('amount')?.errors?.['required']">
                                            Amount is required.
                                        </span>
                                        <span class="error-text m-0 p-0"
                                            *ngIf="transferFundsForm.get('amount')?.errors?.['minlength']">
                                            Amount must be at least 6 characters long.
                                        </span>
                                        <span class="error-text m-0 p-0"
                                            *ngIf="transferFundsForm.get('amount')?.errors?.['pattern']">
                                            Invalid Amount
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="text-center p-4">
                        <button type="button" class="btn btn-primary" (click)="sendMoney()">
                            <div class="transfer_spinner mx-2">
                                <mat-spinner *ngIf="transferAmountLoadStates.isTransferLoading" diameter=20>
                                </mat-spinner>
                            </div>
                            <span *ngIf="!transferAmountLoadStates.isTransferLoading">Send</span>
                        </button>
                        <!-- <a routerLink="/benificiary">ADD BENIFICIARY</a> -->
                    </div>
                    <div class="col-5">
                        <div class="d-flex justify-content-center">
                            <table><tr>
                            <span class="heading">Money Request</span>  
                            <select name="status" class="selclass"(change)="selectedStatus($event)">
                                <option value="PENDING">Pending</option>
                                <option value="COMPLETED">Paid</option>
                                <option value="DECLINED">Declined</option>
                            </select>
                            </table>
                        </div>
                        <div class="card shadow rounded d-flex">
                            <div *ngIf="selStatus=='PENDING';else idTemplate">
                                <div class="d-flex justify-content-center">
                                    <div class="ag-theme-balham">
                                        <ag-grid-angular *ngIf="rowData.length > 0" style="width: 460px; height:450px;" class="ag-grid" [rowData]="rowData"
                                            [columnDefs]="columnDef" [defaultColDef]="defaultColDef" [pagination]="true" [animateRows]="true"
                                            [frameworkComponents]="frameworkComponents">
                                        </ag-grid-angular>
                                    </div>
                                </div>
                            </div>
                            <ng-template #idTemplate>
                                <div *ngIf="selStatus=='COMPLETED';else idTemplate2">
                                <div class="ag-theme-balham">
                                    <ag-grid-angular *ngIf="completedRow.length > 0" style="width: 460px; height:450px;" class="ag-grid" [rowData]="completedRow "
                                        [columnDefs]="completedDef" [defaultColDef]="defaultColDef" [pagination]="true" [animateRows]="true"
                                        [frameworkComponents]="frameworkComponents">
                                    </ag-grid-angular>
                                </div>
                                </div>
                                <ng-template #idTemplate2>
                                    <div class="ag-theme-balham">
                                        <ag-grid-angular *ngIf="declinedRow.length > 0" style="width: 460px; height:450px;" class="ag-grid" [rowData]="declinedRow "
                                            [columnDefs]="declinedDef" [defaultColDef]="defaultColDef" [pagination]="true" [animateRows]="true"
                                            [frameworkComponents]="frameworkComponents">
                                        </ag-grid-angular>
                                    </div>
                                </ng-template>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="col-4">
                <app-benificiary></app-benificiary>
            </div> 
        </div>

    </div>

</div>