<div>
     <!-- Header -->
     <app-header></app-header>

     <!--Body-->
     <div  class="container ag-theme-balham">
        <h3 style="text-align: center;">Transactions</h3>  
        <br> 
        <ag-grid-angular 
            style="width: 1000px; height:400px;" 
            [rowData]="rowData" 
            [columnDefs]="columnDefs"
            [defaultColDef]="defaultColDef"
            [pagination]="true"
            [animateRows]="true">
        </ag-grid-angular>
     </div>

     
 
     <!-- Footer -->
    <app-footer></app-footer>
</div>

