<div>
  <!-- Header -->
  <app-header></app-header>
  <nav class=" navbar  bg-secondary ">
    <div class="container-fluid">
      <h5 class=style>Benificiary Details</h5>
      <div class="d-felx">
        <button  type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
        class="btn btn-success">Add </button>
      </div>
    </div>
  </nav>
  <div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">

      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
        <mat-cell *matCellDef="let benificiary"> {{benificiary.position}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="benAccNum">
        <mat-header-cell *matHeaderCellDef> Benificiary Accountnumber </mat-header-cell>
        <mat-cell *matCellDef="let benificiary"> {{benificiary.benAccNum}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let benificiary"> {{benificiary.name}} </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="nickname">
        <mat-header-cell *matHeaderCellDef> Nick Name </mat-header-cell>
        <mat-cell *matCellDef="let benificiary"> {{benificiary.nickname}} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="userAccNum">
        <mat-header-cell *matHeaderCellDef> User Accountnumber </mat-header-cell>
        <mat-cell *matCellDef="let benificiary"> {{benificiary.userAccNum}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
    </mat-paginator>
  </div>
  <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">BENFICIARY DETAILS</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true"></span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="formValue">
        <div class="form-group">
          <label for="exampleText1">BEN ACCOUNTNO</label>
          <input type="text" formControlName="benAccNum" class="form-control" id="exampleInputText1">

        </div>
        <div class="form-grtextoup">
          <label for="exampleText2">Nick Name</label>
          <input type="text" formControlName="nickname" class="form-control" id="exampleText2">
          <button type="button"  class="btn btn-primary">Add</button>
        </div>

      </form>

    </div> 
    <div class="modal-footer">
      <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

    </div>
  </div>
</div>

</div>