.forgotpassword-container img {
    height: 3rem;
    width: 3rem;
}
.forgotpassword-container h3 {
    margin: 0;
}
.forgotpassword-container .gray-bg {
    background: #f0f0f0;
}
.forgotpassword-container .card {
    box-shadow: 0 5px 5px lightgrey;
}

