<div class="forgotpassword-container">
    
    <div class="mt-5 d-flex justify-content-center align-items-center">
        <img src="../../../assets/logo.svg" />
        <h2 class="px-3 mt-3 text-center"> BANK</h2>
    </div>

    <div class=" mt-5 d-flex justify-content-center align-items-center">
        <div class="mx-5 card gray-bg px-1 py-1 text-left" style="width: 20.25rem;">
            <h4 class="px-3 mt-1 mb-1 card-title">Reset Password</h4>
            <div class="card-body">
                <form [formGroup]="resetPasswordForm" >
                    <div>
                        <div class="form-group">
                            <label for="inputEmail4"><small>Email</small></label>
                            <input type="email" placeholder="Enter Email" class="form-control" id="inputEmail4"
                                formControlName="email"
                                [ngClass]="{ 'is-invalid': (formControls['email'].touched || formControls['email'].dirty) && formControls['email'].errors }">

                            <div *ngIf="formControls['email'].errors" class="invalid-feedback">
                                <div *ngIf="formControls['email'].errors['required']">Email is required</div>
                                <div *ngIf="formControls['email'].errors['email']">Email must be a valid email</div>
                            </div>

                        </div>

                        <div class="form-group">
                            <label for="securityquestion1"><small>What is your Date of Birth?</small></label>
                            <input type="date" placeholder="DD-MM-YYYY" class="form-control" id="securityquestion1"
                                formControlName="securityquestion1"
                                [ngClass]="{ 'is-invalid': (formControls['securityquestion1'].touched || formControls['securityquestion1'].dirty) && formControls['securityquestion1'].errors }">

                            <div *ngIf="formControls['securityquestion1'].errors" class="invalid-feedback">
                                <div *ngIf="formControls['securityquestion1'].errors['required']">Date is required.</div>
                            </div>

                        </div>

                        <div class="form-group">
                            <label for="securityquestion2"><small>What is your Place of Birth?</small></label>
                            <input type="text" placeholder="Place of Birth" class="form-control" id="securityquestion2"
                                formControlName="securityquestion2"
                                [ngClass]="{ 'is-invalid': (formControls['securityquestion2'].touched || formControls['securityquestion2'].dirty) && formControls['securityquestion2'].errors }">

                            <div *ngIf="formControls['securityquestion2'].errors" class="invalid-feedback">
                                <div *ngIf="formControls['securityquestion2'].errors['required']">Place is required.</div>
                                <div *ngIf="formControls['securityquestion2'].errors['pattern']">Try to answer in one
                                    word</div>
                            </div>

                        </div>

                        <div class="form-group">
                            <label for="inputPassword4"><small>New Password</small></label>
                            <input type="password" placeholder="Enter Password" class="form-control" id="inputPassword4"
                                formControlName="newpassword"
                                [ngClass]="{ 'is-invalid': (formControls['newpassword'].touched || formControls['newpassword'].dirty) && formControls['newpassword'].errors }">
                            <div *ngIf="formControls['newpassword'].errors" class="invalid-feedback">
                                <div *ngIf="formControls['newpassword'].errors['required']">Password is required</div>
                                <div *ngIf="formControls['newpassword'].errors['pattern']">Password must have atleast one
                                    uppercase, one lower case letter, one number and one special character.</div>
                                <div *ngIf="formControls['newpassword'].errors['minlength']">Password should be minimum of
                                    8 characters.</div>
                                <div *ngIf="formControls['newpassword'].errors['maxlength']">Password should be maximum of
                                    15 characters.</div>
                            </div>

                            
                            <!-- <div class="p-1 mt-1 d-flex justify-content-center">
                                <input class="btn btn-primary " type="submit" value="Submit">
                            </div> -->
                            <br>
                            <div class="form-group text-center">
                                <button [disabled]="isUpdating" type="submit" class="btn btn-primary"  >
                                    <span *ngIf="isUpdating" class="spinner-border spinner-border-sm" aria-hidden="true" role="status"></span>
                                     Update password
                                </button>
                            </div>

                            <!-- <div class="form-group text-center">
                                <button [disabled]="isUpdating" type="button" class="btn btn-primary" click()="resetPassword()" >
                                    <span *ngIf="isUpdating" class="spinner-border spinner-border-sm" aria-hidden="true" role="status"></span>
                                     Update password
                                </button>
                            </div> -->
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>