/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

input {
    background: #ffffff;
    border: 1px solid #bbbfc7;
    box-sizing: border-box;
    border-radius: 5px;
    height: 40px;
}
